<h3><div><%= @song.name %></div></h3>
<div><%= @song.artist.name %></div>
<div><%= @song.genre.name %></div>


And for the song show page you need to have it display each of the song's genre and artist, 
and link to the respective genre and artist show pages


